@page
@model Hackaton.App.Frontend.Pages.AllRetosModel
@{
    ViewData["Title"] = "Retos de la Hackaton";
}
<h1>
    A continuación se encontrara cada reto solucionado
</h1>

<p>
    <a class="" asp-area="" asp-page="/Retos/calentamiento">Reto de calentamiento</a>
    <a class="" asp-area="" asp-page="/Retos/E-Migrant">E-Migrant</a>
</p>