@page
@model Hackaton.App.Frontend.Pages.E_MigrantModel
@{
}

<h1>E-Migrant</h1>
<body>
    <nav>
        <a class="" asp-area="" asp-page="/Registro/ReMigrante">Registrar Migrante</a>
    </nav>

</body>